/* global */

:root{
    --colorLightRed : rgb(255, 151, 151);
    --colorMainTheme1 :#0081C9;
    --colorMainTheme2 : #ffbd17;
    --colorMainTheme3 : #86E5FF;
    --colorMainTheme4 : #5BC0F8;
    --colorLightGray : rgba(245, 245, 245);
    --boxShadow : rgba(0, 0, 0, 0.15) 1px 1px 2px;
    --boxShadowPlus : rgba(0, 0, 0, 0.15) 2px 2px 4px;
}


body{
    margin: 0;
    padding: 0;

}

div.app {
    display: flex;
    flex-direction: column;
    height: 85vh; /* Prend 100% de la hauteur de l'écran */
    overflow: hidden; /* Empêche tout débordement en dehors de l'écran */
}



/* Logo d'application */

img.logo{
    margin-top: 5px;
    width: 70px;
}

/* Les boutons des différents menu */
button.btn-menu{
    text-align: center;
    margin-left: 20px;margin-right: 20px;
    width: 40px; height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);

}




button.delete{
    background-color: var(--colorMainTheme2);
}


div.confirmationDelete{
    z-index: 2;
    display: none;
    width: 100%;
    height:100vh;
    position: absolute;
}

div.confirmationDelete.show {
    display: flex; /* Change display pour l'afficher */
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


button.deleteConfirm{
    background-color: var(--colorMainTheme2);
    margin-bottom: -200px;
    width: 70px;
    height: 70px;
}


/* --------------- ANIMATION DU BOUTON SUPPRIMER --------------------*/


@keyframes grow {
    from {
        opacity: 0;
        margin-bottom: -400px;
    }
    to {
        opacity: 1;
        margin-bottom: -200px;
    }
}

/* Appliquez l'animation lorsque .show est présent */
div.confirmationDelete.show button.deleteConfirm {
    animation: grow 200ms forwards; /* Ajoute l'animation explicite */
}


button.deleteAnnul{
    width: 50px;
    height: 50px;
}

img.confirmSuppr{
    width: 40px;
}




div.new-interface {
    display: none;
    flex-direction: column;   /* Empile les items verticalement */
    align-items: flex-start;  /* Aligne les items en haut */
    flex-grow: 1; /* Remplit l'espace restant entre header et footer */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    padding: 10px; /* Ajoute un petit espace intérieur */
    box-sizing: border-box; /* Inclut les bordures et padding dans les dimensions */
}

div.new-interface p {
    width: 100%; 
    margin: 0; 
    padding-bottom: 10px;
}

div.new-interface select {
    width: calc(100% - 20px); /* 100% moins 10px de padding de chaque côté */
    border: none;
    border-bottom: solid 1px var(--colorMainTheme1);
    background-color: var(--colorLightGray);
    height: 25px;
    padding: 0 10px; /* Ajoute un padding intérieur comme les autres champs */
    box-sizing: border-box; /* Assure que les dimensions incluent le padding et les bordures */
}




/* Les images des activités */
img.activity{
    width: 70%;
}



/* Style pour les champs requis */
.fieldRequired{
    border : solid 3px red;
}


.filter{
    width: 20px;
}






input, textarea {
    width: calc(100% - 20px); /* 100% moins les 10px de padding gauche et droite */
    height: 25px;
    padding: 0 10px; /* Ajoute un padding intérieur de 10px */
    border: none;
    border-bottom: solid 1px var(--colorMainTheme1);
    background-color: var(--colorLightGray);
    box-sizing: border-box; /* Inclus padding et bordures dans les dimensions */
}


label{
    margin-left: 10px;
    color: var(--colorMainTheme2);
    display: block;
    font-weight: bold;
}

select.conditionUtilisation{
    margin-left: 10px;
    width: 95%;
    border: none;
    border-bottom: solid 1px var(--colorMainTheme1);
    background-color: var(--colorLightGray);
    height: 25px;
}

textarea:focus, input:focus, select:focus{
    outline: none;
    }



/* ------------------------------  DIV HOME ----------------------------------*/



/* --------------- DIV HEADER------------------------------------------- */


div.header{
    width: 100%;   
    display: flex;
    justify-content: space-between; /* Espace entre chaque paragraphe */
    background-color: var(--colorMainTheme1);
    margin-bottom: 10px;
}

p.app-title{
    display: inline;
    text-align: left;
    color:  white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

p.user-name{
    display: inline;
    text-align: right;
    margin-right: 30px;
    color: white;
}







/* -----------  div entête des items -------------- */








.item-container-head {
    width: 87%;          
    display: flex;       
    background-color: var(--colorMainTheme2); 
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 12px;
}


/* Selecteur de catégorie */
div.item-category-selector{
    width: 50px;
    border-radius: 5px;
}

select.item-category-selector{
    white-space: nowrap; /* Pour éviter le retour à la ligne */
	overflow: hidden; /*Cache le texte qui dépasse */
    width: 50px;
    border-radius: 5px;
    color: var(--colorMainTheme1);
}


button.btn-sort{
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    color: var(--colorMainTheme1);
}


button.btn-sort-Selected{
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    background-color: var(--colorMainTheme1);
    color: white;
    font-weight: bold;
}







/*  ----------- Listes des items ---------------- */







/* Style pour la div principale qui contient les items */
.items-list {
    display: flex;
    flex-direction: column;   /* Empile les items verticalement */
    gap: 15px;                /* Espace entre chaque item-container */
    align-items: flex-start;  /* Aligne les items en haut */
    flex-grow: 1; /* Remplit l'espace restant entre header et footer */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    padding: 10px; /* Ajoute un petit espace intérieur */
    box-sizing: border-box; /* Inclut les bordures et padding dans les dimensions */
    height: 100vh;
}


/* Style pour la div de chaque item */
.item-container {
    width: 95%;          
    display: flex;       
    background-color: var(--colorLightGray); 
    padding: 5px;
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    border-left: 3px solid ;
}

        /* Couleurs pour chaque groupe */
.nuance-blue-light {
    border-color: #00A9F4; /* Bleu clair */
}

.nuance-turquoise {
    border-color: #17A2B8; /* turquoise */
}

.nuance-green-light {
    border-color: #03e224; /* Vert clair */
}

.nuance-orange {
    border-color: #ffbd17; /* nuance-orange */
}

.nuance-olive {
    border-color: #4B8B3B; /* Jaune */
}

.nuance-pink {
    border-color: #FF69B4; /* Rose */
}

.nuance-purple {
    border-color: #800080; /* Violet */
}

.nuance-red {
    border-color: #FF6F61; /* Violet */
}
.nuance-dark-gray {
    border-color: #6C757D; /* Gris foncé */
}

.nuance-light-bluegray {
    border-color: #B0C4DE; /* Gris clair */
}

/* Style pour la partie image (bleue) */
.item-image-container {
    width: 50px;
    border-radius: 8px;
    text-align: center;
}

/* Style pour la partie texte (verte) */
.item-data-container {
    flex: 1;  
    display: flex;
    flex-direction: column; 
    /* gap: 10px;              */
    padding-left: 10px;    
}

.item-data-area1 , .item-data-area2, .item-data-area3{
    display: flex;                  /* Pour aligner les paragraphes horizontalement */
    justify-content: space-between; /* Espace entre chaque paragraphe */
    border-radius: 4px;
}

.item-data-area3{
    padding-top: 5px;
}


/* Styles pour les paragraphes */
.item-data-area1 p, .item-data-area2 p, .item-data-area3 p {
    flex: 1;                        /* Chaque paragraphe occupe le même espace */
    margin: 0;                      /* Supprime les marges par défaut des paragraphes */
    padding: 0px;
    padding-left: 5px;
}

/* Alignement du texte */
p.item-data-distance {
    text-align: left;
}
p.item-data-duration {
    text-align: center;
}
p.item-data-date {
    text-align: right;
    margin-right: 5px;
}

p.item-data-location{
    white-space: nowrap; /* Pour éviter le retour à la ligne */
	overflow: hidden; /*Cache le texte qui dépasse */
    font-style: italic;
    font-size: 0.8rem;

  	text-overflow: ellipsis; /*Ajoute des points de suspension (...) pour indiquer que du texte est masqué*/
    width: 100px;
}

p.item-data-comment{
    white-space: nowrap; /* Pour éviter le retour à la ligne */
	overflow: hidden; /*Cache le texte qui dépasse */
    font-style: italic;
    font-size: 0.9rem;
  	text-overflow: ellipsis; /*Ajoute des points de suspension (...) pour indiquer que du texte est masqué*/
    width: 100px;
}


/* Bouton New Items */

button.btnFocus{
    background-color: var(--colorMainTheme1);
}

button.btnFlottant{
    /* background-color: var(--colorMainTheme1); */
    background-color: rgba(0, 129, 201, 0.8);
    width: 50px; height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 4px;;
    position: fixed;
    bottom: 110px;
    left: 75%;
    z-index: 4;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

button.btnFlottant.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}






/* Style de texte pour le bouton "afficher plus" */
div.moreItem{
    width: 95%;          
    /* display: flex;        */
    background-color: var(--colorLightGray); 
    padding: 5px;
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    text-align: center;
}

p.moreItem{
    margin: 0; padding: 0;
    font-weight: bold;
    color: var(--colorMainTheme1);
}

/* ----------------------------- DIV ITEM EDITOR -----------------------------------*/



div.activityPreview{
    text-align: center;
    width: 100%;
    color: orange;
}

img.activityPreview{
    width: 30px;
}







/* div des boutons des menus */
div.button-editor{
    display: none;
    position: fixed;
    background-color: var(--colorLightGray);
    width: 100%;
    height: 50px;
    bottom: 0px;
    padding: 10px 2px 10px 2px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;

}



textarea {
    height: 150px;
    resize: none;
}








/* ------------------------------- MENU PRINCIPAL -----------------------------------*/






div.main-menu{
    position: fixed;
    background-color: var(--colorLightGray);
    width: 100%;
    height: 50px;
    bottom: 0px;
    padding: 10px 2px 10px 2px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}


.main-menu-sup{
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
}


.main-menu-sup-button-area {
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Les éléments sont disposés verticalement */
    align-items: center; /* Centrer les boutons horizontalement */
    padding: 10px;
    background-color: var(--colorLightGray);
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile autour de la div */
    width: auto; /* La div s'ajustera à la taille des boutons */
    max-width: 200px; /* Limiter la largeur de la div si nécessaire */
}

.main-menu-sup button {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px;
    color: var(--colorMainTheme1);
    background-color: var(--colorLightGray);
    text-align: left;
    border: none;
    border-bottom: solid 1px rgb(75, 75, 75);
    cursor: pointer;
    /* font-size: 16px; Taille du texte */
    transition: background-color 0.3s ease; /* Transition pour un effet de survol fluide */
}









/*---------------------------  MENU FAVORIS -------------------------------*/






div.div-favoris-list{
    display: none;
    height: 100vh;
    text-align: left;

    flex-direction: column;   /* Empile les items verticalement */
    align-items: flex-start;  /* Aligne les items en haut */
    flex-grow: 1; /* Remplit l'espace restant entre header et footer */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    padding-right: 20px; /* Ajoute un petit espace intérieur */
    box-sizing: border-box; /* Inclut les bordures et padding dans les dimensions */
}



li.favoris-list{
    margin-top: 10px; 
    height: 40px;
    border-bottom: solid 1px var(--colorMainTheme1);
}


/* p.favoris-list{
    margin-top: 2px; margin-bottom: 2px; margin-left: 10px;
    display: inline-block;
} */




/* Container li pour utiliser flexbox */
.favoris-list {
    display: flex;           /* Utilise flexbox pour les éléments à l'intérieur */
    align-items: center;     /* Aligne verticalement les éléments */
    justify-content: flex-start; /* Aligne les éléments à gauche par défaut */
    position: relative;
    margin: 10px 0;          /* Ajouter un peu de marge pour espacer les items */
}

/* Style pour l'image principale de l'activité */
.favoris-list img {
    margin-right: 10px;      /* Marge entre l'image et le texte */
    width: 30px;
}

/* Alignement spécifique pour l'icône de favoris */
.favoris {
    margin-left: auto;       /* Pousse l'icône de favoris à droite */
    cursor: pointer;        /* Optionnel, pour indiquer que l'icône est cliquable */
}







/*------------------------------   SETTING ------------------------------*/



div.btn-import-export{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}















/*---------------------- INFO ------------------------------------*/


.release-licence{
    text-align: center;
    padding : 0px; margin: 0px;
}









/* -------------------------------- CONDITION D'UTILISATION -------------------- */

.condition-interface{
    display: none;
    position: fixed;
    top: 60px;
    width: 95%; 
    height: 90%;
    padding-left: 5px;
    border-radius:10px 10px;
}





div.entete-condition{
     text-align: center;
}

div.buttonAcceptation{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    padding: 10px 2px 10px 2px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

/* -------------------------------- NOTIFICATION -------------------- */

.popupNotify {
    width: 200px;height: 10px;
    padding: 20px;
    background-color: var(--colorMainTheme1);
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    transform: scale(0.5);
    position: absolute;
    transform: translateY(-40px);
    opacity: 0;
    top : 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    left: 0;
    right: 0;
    box-shadow: var(--boxShadow);
    z-index: 1000;

}



.popupNotify.show {
    transform: translateY(20px);
    opacity: 1;
}








/* ---------------------------------------    STAT -----------------------------*/









section.stat{
    width: calc(100% - 20px); 
    margin-bottom: 5px;
}


section.stat p {
    margin-left: 10px;
}

p.stat{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--colorMainTheme1);
    justify-content: baseline;
}




/* Month Container */
div.stat-months {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    width: calc(100% - 20px); 
}

.stat-month {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-month span {
    font-size: 0.9rem;
    margin-top: 5px;
    color: #555;
}

/* Vertical Progress Bar */
.stat-progress-bar {
    position: relative;
    width: 8px;
    height: 100px;
    background: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.stat-progress-bar::before {
    content: "";
    position: relative;
    width: 100%;
    height: var(--progress);
    background: linear-gradient(180deg, #4CAF50, #81C784);
    border-radius: 10px;
    transition: height 0.3s ease;
}


select.graph-stat{
    display: flex;
}

/* ---------------------------------------- RECOMPENSES ------------------------------ */













div.trophy{
    display: flex;
    flex-direction:row; 
    flex-wrap: wrap; /* Permet le retour à la ligne si nécessaire */
    align-items: flex-start;  /* Aligne les items en haut */
    justify-content: flex-start; /* Aligne les images sur la gauche */
}



img.trophyList {
    width: 80px;
    border: solid 1px rgb(246, 246, 246);
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(246, 246, 246);
    box-shadow: var(--boxShadow);
}


@keyframes trophyVisualisation {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

/* En plein écran */
div.fullScreenTrophy {
    background-color: rgba(230, 230, 230, 0.9);
    z-index: 2;
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.fullScreenTrophy.show {
    display: flex; /* Change display pour l'afficher */
}

div.fullScreenTrophy.show img.trophyFullScreen, p.trophy{
   animation: trophyVisualisation 200ms forwards;
}


img.trophyFullScreen{
    width: 300px;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--boxShadowPlus);
}




p.trophy{
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--boxShadowPlus);
    font-weight: bold;
    color: var(--colorMainTheme1);
}

p.trophyDetail{
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}























/* pour afficher des items pendant un devellopement qui sont caché par défaut */

.dev{
    display: inline-block;
}


