/* global */

:root{
    --colorLightRed : rgb(255, 151, 151);
    --colorMainTheme1 :#0081C9;
    --colorMainTheme2 : #ffbd17;
    --colorMainTheme3 : #86E5FF;
    --colorMainTheme4 : #5BC0F8;
    --colorLightGray : rgba(245, 245, 245);
    --boxShadow : rgba(0, 0, 0, 0.15) 1px 1px 2px;
}


body{
    margin: 0;
    padding: 0;

}

div.app {
    display: flex;
    flex-direction: column;
    height: 85vh; /* Prend 100% de la hauteur de l'écran */
    overflow: hidden; /* Empêche tout débordement en dehors de l'écran */
}



/* Logo d'application */

img.logo{
    margin-top: 5px;
    width: 70px;
}

/* Les boutons des différents menu */
button.btn-menu{
    text-align: center;
    margin-left: 20px;margin-right: 20px;
    width: 40px; height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);

}




button.delete{
    background-color: var(--colorMainTheme2);
}


div.confirmationDelete{
    z-index: 2;
    display: none;
    width: 100%;
    height:100vh;
    position: absolute;
}

div.confirmationDelete.show {
    display: flex; /* Change display pour l'afficher */
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


button.deleteConfirm{
    background-color: var(--colorMainTheme2);
    margin-bottom: -200px;
    width: 70px;
    height: 70px;
}


/* --------------- ANIMATION DU BOUTON SUPPRIMER --------------------*/


@keyframes grow {
    from {
        opacity: 0;
        margin-bottom: -400px;
    }
    to {
        opacity: 1;
        margin-bottom: -200px;
    }
}

/* Appliquez l'animation lorsque .show est présent */
div.confirmationDelete.show button.deleteConfirm {
    animation: grow 200ms forwards; /* Ajoute l'animation explicite */
}


button.deleteAnnul{
    width: 50px;
    height: 50px;
}

img.confirmSuppr{
    width: 40px;
}




div.new-interface {
    display: none;
    flex-direction: column;   /* Empile les items verticalement */
    align-items: flex-start;  /* Aligne les items en haut */
    flex-grow: 1; /* Remplit l'espace restant entre header et footer */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    padding: 10px; /* Ajoute un petit espace intérieur */
    box-sizing: border-box; /* Inclut les bordures et padding dans les dimensions */
}

div.new-interface p {
    width: 100%; 
    margin: 0; 
    padding-bottom: 10px;
}

div.new-interface select {
    width: calc(100% - 20px); /* 100% moins 10px de padding de chaque côté */
    border: none;
    border-bottom: solid 1px var(--colorMainTheme1);
    background-color: var(--colorLightGray);
    height: 25px;
    padding: 0 10px; /* Ajoute un padding intérieur comme les autres champs */
    box-sizing: border-box; /* Assure que les dimensions incluent le padding et les bordures */
}




/* Les images des activités */
img.activity{
    width: 70%;
}



/* Style pour les champs requis */
.fieldRequired{
    border : solid 3px red;
}


.filter{
    width: 20px;
}






input, textarea {
    width: calc(100% - 20px); /* 100% moins les 10px de padding gauche et droite */
    height: 25px;
    padding: 0 10px; /* Ajoute un padding intérieur de 10px */
    border: none;
    border-bottom: solid 1px var(--colorMainTheme1);
    background-color: var(--colorLightGray);
    box-sizing: border-box; /* Inclus padding et bordures dans les dimensions */
}


label{
    margin-left: 10px;
    color: var(--colorMainTheme2);
    display: block;
    font-weight: bold;
}

select.conditionUtilisation{
    margin-left: 10px;
    width: 95%;
    border: none;
    border-bottom: solid 1px var(--colorMainTheme1);
    background-color: var(--colorLightGray);
    height: 25px;
}

textarea:focus, input:focus, select:focus{
    outline: none;
    }



/* ------------------------------  DIV HOME ----------------------------------*/



/* --------------- DIV HEADER------------------------------------------- */


div.header{
    width: 100%;   
    display: flex;
    justify-content: space-between; /* Espace entre chaque paragraphe */
    background-color: var(--colorMainTheme1);
    margin-bottom: 10px;
}

p.app-title{
    display: inline;
    text-align: left;
    color:  white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

p.user-name{
    display: inline;
    text-align: right;
    margin-right: 30px;
    color: white;
}







/* -----------  div entête des items -------------- */








.item-container-head {
    width: 87%;          
    display: flex;       
    background-color: var(--colorMainTheme2); 
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 12px;
}


/* Selecteur de catégorie */
div.item-category-selector{
    width: 50px;
    border-radius: 5px;
}

select.item-category-selector{
    white-space: nowrap; /* Pour éviter le retour à la ligne */
	overflow: hidden; /*Cache le texte qui dépasse */
    width: 50px;
    border-radius: 5px;
    color: var(--colorMainTheme1);
}


button.btn-sort{
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    color: var(--colorMainTheme1);
}


button.btn-sort-Selected{
    border: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    background-color: var(--colorMainTheme1);
    color: white;
    font-weight: bold;
}







/*  ----------- Listes des items ---------------- */







/* Style pour la div principale qui contient les items */
.items-list {
    display: flex;
    flex-direction: column;   /* Empile les items verticalement */
    gap: 15px;                /* Espace entre chaque item-container */
    align-items: flex-start;  /* Aligne les items en haut */
    flex-grow: 1; /* Remplit l'espace restant entre header et footer */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    padding: 10px; /* Ajoute un petit espace intérieur */
    box-sizing: border-box; /* Inclut les bordures et padding dans les dimensions */
    height: 100vh;
}


/* Style pour la div de chaque item */
.item-container {
    width: 95%;          
    display: flex;       
    background-color: var(--colorLightGray); 
    padding: 5px;
    border-radius: 20px;
    box-shadow: var(--boxShadow);
}

/* Style pour la partie image (bleue) */
.item-image-container {
    width: 50px;
    border-radius: 8px;
    text-align: center;
}

/* Style pour la partie texte (verte) */
.item-data-container {
    flex: 1;  
    display: flex;
    flex-direction: column; 
    /* gap: 10px;              */
    padding-left: 10px;    
}

.item-data-area1 , .item-data-area2{
    display: flex;                  /* Pour aligner les paragraphes horizontalement */
    justify-content: space-between; /* Espace entre chaque paragraphe */
    border-radius: 4px;
}

/* Styles pour les paragraphes */
.item-data-area1 p, .item-data-area2 p {
    flex: 1;                        /* Chaque paragraphe occupe le même espace */
    margin: 0;                      /* Supprime les marges par défaut des paragraphes */
    padding: 0px;
    padding-left: 5px;
}

/* Alignement du texte */
p.item-data-distance {
    text-align: left;
}
p.item-data-duration {
    text-align: center;
}
p.item-data-date {
    text-align: right;
    margin-right: 5px;
}

p.item-data-location{
    white-space: nowrap; /* Pour éviter le retour à la ligne */
	overflow: hidden; /*Cache le texte qui dépasse */

    font-style: italic;
    font-size: 0.8rem;

  	text-overflow: ellipsis; /*Ajoute des points de suspension (...) pour indiquer que du texte est masqué*/
    width: 100px;
}




/* Bouton New Items */

button.btnFocus{
    background-color: var(--colorMainTheme1);
}

button.btnFlottant{
    /* background-color: var(--colorMainTheme1); */
    background-color: rgba(0, 129, 201, 0.8);
    width: 50px; height: 50px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.30) 2px 2px 4px;;
    position: fixed;
    bottom: 110px;
    left: 75%;
    z-index: 4;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

button.btnFlottant.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
}






/* Style de texte pour le bouton "afficher plus" */
div.moreItem{
    width: 95%;          
    /* display: flex;        */
    background-color: var(--colorLightGray); 
    padding: 5px;
    border-radius: 20px;
    box-shadow: var(--boxShadow);
    text-align: center;
}

p.moreItem{
    margin: 0; padding: 0;
    font-weight: bold;
    color: var(--colorMainTheme1);
}

/* ----------------------------- DIV ITEM EDITOR -----------------------------------*/












/* div des boutons des menus */
div.button-editor{
    display: none;
    position: fixed;
    background-color: var(--colorLightGray);
    width: 100%;
    height: 50px;
    bottom: 0px;
    padding: 10px 2px 10px 2px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;

}



textarea {
    height: 150px;
    resize: none;
}








/* ------------------------------- MENU PRINCIPAL -----------------------------------*/






div.main-menu{
    position: fixed;
    background-color: var(--colorLightGray);
    width: 100%;
    height: 50px;
    bottom: 0px;
    padding: 10px 2px 10px 2px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}












/*---------------------------  MENU INFO -------------------------------*/






div.div-info-list{
    display: none;
    height: 100vh;
    text-align: left;

    flex-direction: column;   /* Empile les items verticalement */
    align-items: flex-start;  /* Aligne les items en haut */
    flex-grow: 1; /* Remplit l'espace restant entre header et footer */
    overflow-y: auto; /* Permet le défilement vertical si nécessaire */
    padding-right: 20px; /* Ajoute un petit espace intérieur */
    box-sizing: border-box; /* Inclut les bordures et padding dans les dimensions */
}



li.info-list{
    margin-top: 10px; 
    height: 40px;
    border-bottom: solid 1px var(--colorMainTheme1);
}


/* p.info-list{
    margin-top: 2px; margin-bottom: 2px; margin-left: 10px;
    display: inline-block;
} */




/* Container li pour utiliser flexbox */
.info-list {
    display: flex;           /* Utilise flexbox pour les éléments à l'intérieur */
    align-items: center;     /* Aligne verticalement les éléments */
    justify-content: flex-start; /* Aligne les éléments à gauche par défaut */
    position: relative;
    margin: 10px 0;          /* Ajouter un peu de marge pour espacer les items */
}

/* Style pour l'image principale de l'activité */
.info-list img {
    margin-right: 10px;      /* Marge entre l'image et le texte */
    width: 30px;
}

/* Alignement spécifique pour l'icône de favoris */
.favoris {
    margin-left: auto;       /* Pousse l'icône de favoris à droite */
    cursor: pointer;        /* Optionnel, pour indiquer que l'icône est cliquable */
}







/*------------------------------   SETTING ------------------------------*/



div.btn-import-export{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}



.release-licence{
    text-align: center;
    padding : 0px; margin: 0px;
}

div.release-licence{
    /* background-color: orange; */
    text-align: center;
    display: none;
    width: 100%;
}









/* -------------------------------- CONDITION D'UTILISATION -------------------- */

.condition-interface{
    display: none;
    position: fixed;
    top: 60px;
    width: 95%; 
    height: 90%;
    padding-left: 5px;
    border-radius:10px 10px;
}





div.entete-condition{
     text-align: center;
}

div.buttonAcceptation{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0px;
    padding: 10px 2px 10px 2px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

/* -------------------------------- NOTIFICATION -------------------- */

.popupNotify {
    width: 200px;height: 10px;
    padding: 20px;
    background-color: var(--colorMainTheme1);
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    transform: scale(0.5);
    position: absolute;
    transform: translateY(-40px);
    opacity: 0;
    top : 20px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    left: 0;
    right: 0;
    box-shadow: var(--boxShadow);
    z-index: 1000;

}



.popupNotify.show {
    transform: translateY(20px);
    opacity: 1;
}




/* pour afficher des items pendant un devellopement qui sont caché par défaut */

.dev{
    display: inline-block;
}


